body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
}

.signin-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

input {
  width: 15rem;
}
