{{ define "bug-info" }}
<li class="bug">
  <div class="bug-content" hx-swap="innerHTML">
    <div>
      <button hx-get="/bugs/{{ .BugId }}" hx-target="closest .bug-content">Edit</button>
      <div>
        {{ .Status }}
        {{ .BugId }}
        {{ .Summary }}
      </div>
      <div>
        Date Reported: {{ .DateReported }}
      </div>
    </div>
    <div>
      <div>
        Description:
        {{ .Description }}
      </div>
      <div>
        Resolution:
        {{ .Resolution }}
      </div>
      <div>
        <div>
          Reported By:
          {{ .ReportedBy }}
        </div>
        <div>
          Assigned To:
          {{ .AssignedTo }}
        </div>
        <div>
          Verified By:
          {{ .VerifiedBy }}
        </div>
      </div>
    </div>
    <div>      
      <div>
        Priority:
        {{ .Priority }}
      </div>    
      <div>
        Hours:
        {{ .Hours }}
      </div>
    </div>
    <div hx-get="/comments/{{ .BugId }}" hx-trigger="load">
  
    </div>
  </div>
</li>
{{end}}