{{define "body"}}
<form class="signin-form" hx-post="/api/authenticate">
  <div>
    <label for="username">Username</label>
    <input type="username" id="username" name="username" required/>  
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" minlength="8" maxlength="64" required>  
  </div>

  <div class="signin-submit">
    <button>Sign in</button>
  </div>

  <div id="#auth-server-error"></div>
  </div>
</form>

<script>
  htmx.on("htmx:afterRequest", function(e) {
    const status = e.detail.xhr.status;

    if (status >= 500) {
      console.log('Internal Server Error');
    } else if (status >= 400) {
      console.log('User Error');
    }
  });
</script>
{{end}}

{{define "styles"}}
  <link rel="stylesheet" href="/static/styles/signin.css"  type="text/css">
{{end}}